*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: Rubik;
    background-color: black;
    color: rgb(59, 65, 70);
}
input, button, a{
    font-family: Rubik;
    color: rgb(59, 65, 70);
}
/* -- */

.nav{
    
}





















.login-all{
    width: 60%;
    height: 40%;
    
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 30px;
}
/* -- */
.left-login{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #4f0ed9;
    border-top-left-radius: 20px;
}
#img1{
    width: 300px;
    height: 300px;
}
/* -- */
.right-login{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(35, 201, 179);
    border-bottom-right-radius: 20px;
}
.form1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

#email1{
    display: flex;
    flex-direction: column;
}
#password1{
    display: flex;
    flex-direction: column;
}
#input1, #input2{
    width: 20vw;
    height: 2rem;
    border-radius: 20px;
    border: none;
    padding-left: 2%;
}

#save1{
    margin-top: 2%;
}

#login{
    width: 80px;
    height: 30px;
    
    margin: 5%;

    border-radius: 10px;
    border: none;
    cursor: pointer;

    transition: 0.5s ease;
}
#login:hover{
    transform: scale(1.2);
    background-color: silver;
}
/* -- */
#create{
   margin-bottom: -10%;
   display: flex;
   flex-direction: column;
   align-items: center;

   transition: 0.5s ease;
}
#create a{
    text-decoration: none;
}
#create a:hover{
    text-decoration: underline;
}